# Choose "supabase" or "firebase" to select the DB provider
DB_PROVIDER=supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
# PostgreSQL connection string.
# Required when DB_PROVIDER=firebase and used for automatic
# table creation when DB_PROVIDER=supabase
DATABASE_URL=
ADMIN_USER=admin
ADMIN_PASS=secret
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
# Wrap private key in quotes and replace newlines with \n
FIREBASE_STORAGE_BUCKET=
